<?xml version="1.0" encoding="UTF-8"?>

<configuration version="1.0" name="mybatis-config">
    <dataSource>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/basic?characterEncoding=utf-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </dataSource>

    <!--存放mapper.xml的全路径-->
    <mapper resource="mapper/UserMapper.xml"></mapper>
</configuration>